/* CSS files add styling rules to your content */

body {
  font-family: futura, arial, sans-serif;
  color: #EEEEEE;
  margin: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  background: #fbfcf7;
  font-size: 1em;
}

p {
}
/*title*/
h1 {
  font-style: normal;
  color: #00b8cc;
  font-size: 3em;
}
/*subtitles*/
h2 {
  font-style: normal;
  color: #00b8c2;
}
/*links*/
h3 {
  font-style: normal;
  color: white;
}
/*big titles buttons*/
h4 {
  font-size: 2em;
  color: #00b8c2;
}
/*lengthy text*/
h5 {
  font-style: normal;
  color: #fbfcf7;
  font-size: 1em;
}
/*definition*/
h6 {
  font-style: normal;
  color: #bababa;
  font-size: 1em;
}
/*big titles*/
h7{
  font-style: normal;
  font-family: futura, arial, sans-serif;
  font-size: 1.5em;
  color: #a1a1a1;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


.flex-container {
  display: flex;
  height: 1000px;
  align-items: flex-start;
}




.collapsible {
  background-color: #000;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-family: futura, arial, sans-serif;
  color: #EEEEEE;
}
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}	

